@model DDAC_Assignment.Models.News

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" style="width:600px;" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea style="width:800px; min-height:300px" class="form-control" placeholder="Enter the content" asp-for="Content"></textarea>
                <!--<input asp-for="Content" class="form-control" />-->
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor" class="control-label"></label>
                <input asp-for="Actor" class="form-control" />
                <span asp-validation-for="Actor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <!--<input asp-for="Category" class="form-control" />-->
                <select asp-for="Category" class="form-control" onchange="CategoryOnChanged()">
                    <option value="None">--Select--</option>
                    @foreach (var item in ViewBag.Category)
                    {
                        <option value="@item.CategoryName">@item.CategoryName</option>
                    }

                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
        <label asp-for="ParentCategory" class="control-label"></label>
        <input asp-for="ParentCategory" class="form-control" disabled/>
        <span asp-validation-for="ParentCategory" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
