@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<center>
    <div class="container-fluid page-body-wrapper">
        <div class="content-wrapper">
            <div class="row">
                <h1 class="text-primary">@ViewData["Title"]</h1>
                <p>
                    Password reset link set.
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</center>
