@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-3"> </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-primary" style="text-align: center">@ViewData["Title"]</h4>
                            <section>
                                <form id="account" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label text-muted" asp-for="Input.RememberMe">
                                            <input type="checkbox" class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-lg auth-form-btn" type="submit">Log in</button>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <a class="auth-link font-weight-light" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                        </p>
                                        <p>
                                            <a class="auth-link font-weight-light"asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                        </p>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"> </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
