.categoryTag {
    padding: 6px;
    color: white;
    border-radius: 8px;
}

.newsDetails{
    color:dimgray;
    font-size: 18px;
}

.displayLayout {
    display: flex;
    justify-content: center;
    align-content: center;
}


.btnHover:hover{
    text-decoration: none;
    color: white;
}

.detailsFormLayout {
    padding: 50px;
    background: linear-gradient(#dea67e, #ffcd00);
    border-radius: 15px;
}

.deleteFormLayout {
    padding: 50px;
    background: linear-gradient(#c7678b, #f59b9b);
    border-radius: 15px;
}

.content-my{
    margin-top: 30px;
    margin-bottom: 460px;
}

.create-bg-color {
    background: linear-gradient(#aad9c9, #80c8d6)
}

.edit-bg-color {
    background: linear-gradient(#b6c4df, #cdabfb)
}

.contentMargin{
    margin-left: 100px;
    margin-right: 100px;
}


    