
/*body{
    background-color: black;
}*/

.searchButton {
    color: white;
    background-color: darkturquoise;
    border-radius: 5px;
    border-color: darkturquoise;
    height: 40px;
}

.button:hover{
  font-size: 17px;
  padding: 3px;
}


.createButton {
    color: white;
    background-color: darkslategray;
    border-radius: 5px;
    border-color: darkslategray;
}


.editButton {
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    border-color: darkblue;
    width: 80px;
}


.deleteButton {
    color: white;
    background-color: red;
    border-radius: 5px;
    border-color: red;
    width: 80px;
}

.detailsButton {
    color: white;
    background-color: coral;
    border-radius: 5px;
    border-color: coral;
    width: 80px;
}

.searchFilter {
    display: inline;
    width: 40%;
    height: 43px;
}

.gridDisplay {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
}

.displayLayout {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tagRow {
    display: flex;
    align-items: center;
}

.publishedDate {
    padding: 6px;
    border-radius: 8px;
    background-color: #151550;
    color: white;
}

.durationTag {
    padding: 4px;
    border-radius: 20px;
    background-color: #8d12a2;
    color: white;
    margin-left: 10px;
}

.item{
    padding: 20px;
}

.item:hover {
    background-color: #f1f1f1;
}

.table thead th{
    font-weight: bold!important;
    color: black;
}

